<div class="side-nav">
    <div class="logo"><img src="../../assets/images/unnamed.png" alt=""></div>
    <ul class="nav">
        <li>
            <a routerLink="/">GENERATE INVOCE BY HOURS</a>
        </li>
        <li>
            <a routerLink="/invoiceByDates">GENERATE INVOCE BY DATES</a>
        </li>
        <li>
            <a routerLink="/addEmployee">ADD NEW EMPLOYEE</a>
        </li>
        <li>
            <a routerLink="/modifyEmployee">MODIFY EXISTING EMPLOYEE</a>
        </li>
    </ul>
</div>