<div class="main_content">
    <div class="header">
        <h1>Enter New Employee Information</h1>
    </div>
    <table>
        <tr>
            <td>First Name: </td>
            <td><input type="text" placeholder="first name" size="50"></td>
        </tr>
        <tr>
            <td>Last Name: </td>
            <td><input type="text" placeholder="last name" size="50"></td>
        </tr>
        <tr>
            <td>Pay: </td>
            <td><input type="number" placeholder="enter pay" size="50"></td>
        </tr>
        <tr>
            <td>Net: </td>
            <td><input type="number" placeholder="enter net" size="50"></td>
        </tr>
        <tr>
            <td>Company Name: </td>
            <td><input type="text" placeholder="company name" size="50"></td>
        </tr>
        <tr>
            <td>Address1: </td>
            <td><input type="text" placeholder="street.," size="50"></td>
        </tr>
        <tr>
            <td>Address2: </td>
            <td><input type="text" placeholder="floor, apt, suite" size="50"></td>
        </tr>
        <tr>
            <td>Address3: </td>
            <td><input type="text" placeholder="city, state, zip" size="50"></td>
        </tr>
        <tr>
            <td colspan="2"><button onclick="insertIntoFile()">Submit</button></td>
        </tr>
    </table>
</div>